* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
}



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* BOOTSTRAP DEBUG */
[class^='container'] {
  border: 1px dashed black;
  background-color: lightblue;
  min-height: 80vh;
}

[class^='row'] {
  border: 1px dashed red;
}

[class^='col'] {
  border: 1px solid grey;
  background-color: aqua;
  /* height: 100px; */
}



/* HEADER */
header .row {
  height: 80px;
}


.dc-logo-container {
  width: 60px;
}

.dc-logo {
  width: 100%;
  margin: 5px 0;
}

.col-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.navbar li {
  padding-left: 5px;
  font-size: 10px;
}

footer .row {
  height: 80px;
}

footer .col {
  display: flex;
  align-items: center;
}

.btn-sign {
  background: none;
  color: white;
  border-color: #0282f9;
  height: 40px;
  padding: 8px;
  font-size: 15px;
}

.col-chl {
  display: flex;
  justify-content: end;
}

.col-chl p {
  margin: auto 0;
}

.channel {
  display: flex;
  margin: auto 0;

}

.single-channel {
  padding-left: 10px;
  width: 50px;
}

.single-channel img {
  width: 100%;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}